body {
    font-size: .875rem;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.book-card {
    display: inline-block;
    width: 150px;
    margin-right: 10px;
    text-align: center;
}

.book-card img {
    width: 100%;
    height: auto;
}

.book-card p {
    margin: 5px 0 0;
}

.discover-more {
    background-color: #e0e0e0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/***** SignUp Page *****/
.signup-container {
    display: flex;
    max-width: 1000px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.info-column {
    flex: 1;
    background-color: #ffe0b3;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.form-column {
    flex: 1;
    padding: 40px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.terms {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.terms input {
    margin-right: 10px;
}

button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.sign-in {
    margin-top: 20px;
    text-align: center;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .signup-container {
        flex-direction: column;
    }
}