{% extends 'base.html' %}

{% block content %}
    <div class="container mt-5">
        <h1>Checkout Successful</h1>
        <p>Thank you for your order!</p>
        <p><strong>Total:</strong> €{{ total_price }}</p>

        <h2>Purchased Book(s):</h2>
        <ul class="list-group mb-4">
            {% if purchased_books %}
                {% for book in purchased_books %}
                    <li class="list-group-item">
                        <strong>{{ book.title }}</strong> by {{ book.author }}
                    </li>
                {% endfor %}
            {% else %}
                <li class="list-group-item">No books purchased.</li>
            {% endif %}
        </ul>

        <a href="{% url 'book_list' %}" class="btn btn-primary btn-lg">Continue Shopping</a>
    </div>
{% endblock %}
